.main {
  height: 100%;
  padding: 2rem 1rem;
  overflow-y: auto;
  table {
    border-spacing: 0;
    min-width: 1200px;
    thead {
      background-color: var(--secondary-color);
      color: var(--primary-color);
      tr {
        th {
          text-align: start;
          padding: 5px;
          .thContent {
            display: flex;
            align-items: center;
          }
          &:first-child {
            min-width: 100px;
          }
          &:nth-child(5) {
            min-width: 90px;
          }
          &:nth-child(6) {
            min-width: 90px;
          }
          &:nth-child(7) {
            min-width: 120px;
          }
          &:last-child {
            min-width: 50px;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 3px 5px;
          &:nth-child(2) {
            font-weight: 600;
          }
          &:nth-child(4) {
            font-size: 0.875rem;
          }
        }
      }
      tr:nth-child(odd) {
        background-color: var(--primary-color);
        td {
          padding: 3px 5px;
        }
      }
    }
  }
}

.opacity {
  opacity: 0.75;
}
