.main {
  background-color: var(--primary-color);
  height: 100%;
  padding: 2rem 0;
}

.container {
  width: 70%;
  margin: auto;
  background-color: white;
  border-radius: 1rem;
  padding: 0 1rem;
  @media (max-width: 768px) {
    width: 100%;
    border-radius: 0;
  }
}
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 3rem;
  padding: 1rem;
  margin-top: 20px;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1rem;
  }
}

.radioGroup {
  flex: 1;
}

.input {
  flex: 1;
  width: 100%;
}
